  name: Deploy Frontend
  on:
    push:
      branch:
        - main
  
  jobs: 
    build:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
        - run: docker login jyotiprasad5@gmail.com -p Redhat_123 
        - run: docker build -t jyotiprasad5/docker-react -f Dockerfile.dev .
        - run: docker run -e CI-true jyotiprasad5/docker-react npm run test  
