name: Deploy frontend

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest			
    steps:
      - uses: actions/checkout@v4
      - name: docker login
        uses: docker/login-action@v3.6.0
        with:
          username: {{ secrets.DOCKER_USERNAME }}
          password: {{ secrets.DOCKER_PASSWORD }}
      - name: Build the Docker image
        run: docker build . --file Dockerfile.dev -t jyotiprasad5/docker-react
      - name: push the docker image
        run: docker push jyotiprasad5/docker-react
      - name: run the tests
        run: npm test