name: Deploy frontend

on:
  push:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest			

    steps:
    - uses: actions/checkout@v4     
    - name: Build the Docker image
      run: docker build . --file Dockerfile.dev -t jyotiprasad5/docker-react
      run: docker run jyotiprasad5/docker-react npm run test