name: Deploy frontend

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest			
    steps:
      - uses: actions/checkout@v4
      - name: Build the Docker image
      - name: run the tests
      - run: docker build . --file Dockerfile.dev -t jyotiprasad5/docker-react
      - run: npm test